html {
    overflow: hidden;
    -ms-touch-action: none;
}

html,
body,
.viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

.windowLevelRange {
    font-size: 9px;
    font-weight: 100;
}

.closeModlessDialog {
    cursor: pointer;
    position: relative;
    font-size: 26px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: 0px;
}

.label-remark {
    font-size: 12px !important;
    font-weight:200;
}


@-webkit-keyframes histogramIntro {
    from {
        opacity: 0.0;
        transform: rotateY(-90deg);
    }

    to {
        opacity: 1.0;
        transform: rotateY(-0deg);
    }
}

.modlessDialog {
    display: block;
    position: absolute;
    width: 400px;
    height: 440px;
    background-color: rgb(255, 255, 255);
    top: 100px;
    left: 100px;
    z-index: 1000;
    box-shadow: 7px 10px 12px 1px rgba(0, 0, 0, 0.5);
    border-top: 5px solid #5ba2f3;
    transform: rotateY(-90deg);
    opacity: 0.0;
    animation-name: histogramIntro;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

canvas:focus {
    outline: none;
}

button:focus {
    outline: none;
}

div
{
    user-select:none;
}

div:focus {
    outline: none;
}

.optionsSaved {
    animation-name: savedNotificationAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-timing-function: ease;
}

.item-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sendLinkLabels {
    display: block;
    text-align: right;
    padding-right: 30px;
    width: 120px;
    font-size: 12px;
    margin: 0;
}

/* unvisited link */
.sendAgainLink {
    color: dodgerblue;
}

/* mouse over link */
.sendAgainLink:hover {
    color: #00c4ff;
}

/* selected link */
.sendAgainLink:active {
    color: blue;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-5deg);
        transform: translateX(-6px) rotateY(-5deg);
    }
    37.5% {
        -webkit-transform: translateX(5px) rotateY(4deg);
        transform: translateX(5px) rotateY(4deg);
    }
    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-2deg);
        transform: translateX(-3px) rotateY(-2deg);
    }
    87.5% {
        -webkit-transform: translateX(2px) rotateY(1deg);
        transform: translateX(2px) rotateY(1deg);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    12.5% {
        -webkit-transform: translateX(-6px) rotateY(-5deg);
        transform: translateX(-6px) rotateY(-5deg);
    }
    37.5% {
        -webkit-transform: translateX(5px) rotateY(4deg);
        transform: translateX(5px) rotateY(4deg);
    }
    62.5% {
        -webkit-transform: translateX(-3px) rotateY(-2deg);
        transform: translateX(-3px) rotateY(-2deg);
    }
    87.5% {
        -webkit-transform: translateX(2px) rotateY(1deg);
        transform: translateX(2px) rotateY(1deg);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


@-webkit-keyframes ShadowMove {
    from {
        box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.05);
    }

    to {
        box-shadow: 17px 20px 13px 10px rgba(0, 0, 0, .2);
    }
}


/* The animation code */
@keyframes ShadowMove {
    from {
        box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.05);
    }

    to {
        box-shadow: 17px 20px 13px 10px rgba(0, 0, 0, .2);
    }
}



@-webkit-keyframes fadeLetterAnimation {
    0% {
        text-shadow: 0px 0px 14px #5ba2f3 ;
        color:transparent;
    }

    30% {
        color: #5ba2f3;
    }

    100% {
        text-shadow: 0px 0px 4px #5ba2f3;
        color: #5ba2f3;
    }
}
@keyframes fadeLetterAnimation {
    0% {
        text-shadow: 0px 0px 14px #5ba2f3;
        color: transparent;
    }

    30% {
        color: #5ba2f3;
    }

    100% {
        text-shadow: 0px 0px 4px #5ba2f3;
        color: #5ba2f3;
    }
}



@-webkit-keyframes savedNotificationAnimation {
    0% {
        text-shadow: 0px 0px 1px;
        color: transparent;
    }

    10% {
        color: #9099A0;
    }

    90% {
        color: #9099A0;
    }

    100% {
        text-shadow: 0px 0px 1px;
        color: transparent;
    }
}

@keyframes savedNotificationAnimation {
    0% {
        text-shadow: 0px 0px 1px;
        color: transparent;
    }

    10% {
        color: #9099A0;
    }

    90% {
        color: #9099A0;
    }

    100% {
        text-shadow: 0px 0px 1px;
        color: transparent;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}



@-webkit-keyframes animateLogIn {
    from {
        opacity: 0.0;
        margin: -250px auto;
    }

    to {
        opacity: 1.0;
        margin: 50px auto;
    }
}


/* The animation code */
@keyframes animateLogIn {
    from {
        opacity: 0.0;
        margin: -250px auto;
        -webkit-perspective: 600px;
    }

    to {
        opacity: 1.0;
        margin: 50px auto;
        -webkit-perspective: 0px;
    }
}



@-webkit-keyframes LogoAnimation {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}


/* The animation code */
@keyframes LogoAnimation {
    from {
        opacity: 0.0;
        transform: rotateY(-20deg);
    }

    to {
        opacity: 1.0;
        transform: rotateY(0deg);
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #5ba2f3;
    text-align: right;
    padding-right:4px;
    font-size:12px;
    font-weight:bold;
}

.fadeLetter {
    animation-name: fadeLetterAnimation;
    animation-duration: 1s;
    animation-timing-function: ease;
}


.authenticaion-box {
    width: 426px;
    margin: 50px auto;
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    color: #9099A0;
}



.container {
    width: auto;
    margin: 50px auto;
    animation-name: animateLogIn;
    animation-duration: 0.75s;
    animation-timing-function: ease;
}

.shake {
    -webkit-animation: shake 400ms ease-in-out;
    animation: shake 400ms ease-in-out;
}

.message {
    margin-top: 60px;
}

/* Add a tab container class, for a border around the entire tabset */

.nav-tabs-container {
    padding: 3px;
}

ui-grid {
    width: 100% !important;
}

.tab-button {
    margin-left: 10px;
    height: 16px;
    width: 16px;
    padding: 0px;
    padding-bottom: 2px;
    border-radius: 8px;
    border: 0px;
    text-align: center;
    font-size: 12px;
}

.ui-layout-pane {
    padding: 0 !important;
    overflow: hidden !important;
}

.ui-layout-north {
    z-index: 3 !important;
    overflow: visible !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    overflow-y: scroll !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    height: auto;
    overflow: hidden;
    padding-right: 4px;
    padding-top: 2px;
    position: relative;
    vertical-align: text-top;
    white-space: normal !important;
}

#overalyCanvas {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 50;
}

#overlayCanvas {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 50;
}

.navbar .container-fluid,
.navbar-collapse {
    padding-left: 0;
}

.navbar-collapse.in {
    padding-left: 30px;
}

.center,
.east,
.west,
.north,
.south {
    text-align: center;
    display: inline-block;
}

.west,
.east {
    width: 8%;
}

.south {
    height: 10%;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#ltTabWrapper>ul>li {
    border-radius: 0;
    -webkit-border-radius:  0;
    -moz-border-radius: 0;
    margin: 1px .2em 0 0;
    font-weight: normal;
}

#ltTabWrapper>ul>li>a {
    margin-right: 0px;
    padding: .5em 1em;
    text-align: center;
    vertical-align: center
}

#ltTabWrapper>ul>li>a,
#ltTabWrapper>ul>li>a:link,
#ltTabWrapper>ul>li>a:visited {
    text-decoration: none;
}

#ltTabWrapper>ul>li>a:hover {
    text-decoration: none;
}

#ltTabWrapper>ul>li.active {
    border-bottom-width: 0;
}

#ltTabWrapper>div {
    padding-top: 0px;
}

#ltTabWrapper>div {
    background: transparent;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    margin-top: -1px;
    border-top: transparent;
}

.scroll {
    width: 1px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

.slider {
    width: 11px;
    left: -6px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    top: 0;
}

.timeLineTable {
    border-collapse: separate;
}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: absolute;
        transition: all 0.15s ease-out;
    }
    .row-offcanvas-left {
        left: -250px;
    }
    .row-offcanvas-left.active {
        left: 0;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        z-index: 20;
    }
}

.ui-jqgrid-bdiv {
    overflow-x: hidden !important;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -ms-user-select: none;
}

table {
    outline: 0 !important;
}

.tooltip {
    z-index: 5000 !important;
}

.modal.fade {
    overflow: hidden;
    height: 100%;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.vbox {
    /* previous syntax */
    display: -webkit-box;
    display: -moz-box-flex;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    /* current syntax */
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
     display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;*/
}

/* items flex/expand horizontally */

.hbox {
    /* previous syntax */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    /* current syntax */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.space-between {
    /* previous syntax */
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-box-pack: justify;
    box-pack: justify;
    /* current syntax */
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.boxItem {
    /* previous syntax */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
    /* current syntax */
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /* margin: 5px;
    border: solid 1px blue;*/
}

.tab-content>.active {
    display: flex;
}

.ui-grid-expandable-buttons-cell {
    height: 100%;
}

/* menu header via data attribute */

.data-title:before {
    content: attr(data-menutitle);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.data-title :first-child {
    margin-top: 25px;
}

.context-menu-root {
    width: 220px;
}

.context-menu-item {
    font-size: 14px !important;
    /*min-width: 500px !important; */
    width: 220px !important;
}


.drop-box {
    width: 170px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
}













/*Custom Check Box*/

.checkBoxLabelContainer {
    display: block;
    position: relative;
    margin-bottom: 12px;
    margin-top: 12px;
    height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkBoxTextFormat {
    font-weight: 500;
    color: #5998e0;
    font-size: 16px;
    letter-spacing: 1.6px;
    padding-left: 35px;
}


.checkBoxGrayTextFormat {
    font-weight: 600;
    color: #9099A0;
    font-size: 14px !important;
    padding-left: 30px;
}


.checkBoxLabelContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 3px;
    height: 20px;
    width: 20px;
    background-color: var(--secondary-foreground);
    color: var(--secondary-foreground);
    border: 1px solid;
    border-radius: 2px;
}


.checkBoxLabelContainer input:focus ~ .checkmark {
    color: #2196F3;
    border: 1px dotted;
    border-radius: 1px;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkBoxLabelContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkBoxLabelContainer input:checked ~ .checkmark:after {
    display: block;
}


.checkBoxLabelContainer .checkmark:after {
    left: 3px;
    top: 9px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 2px 2px 0px 0px;
    -webkit-transform: scaleX(-1) rotate(130deg);
    -ms-transform: scaleX(-1) rotate(130deg);
    transform: scaleX(-1) rotate(130deg);
    transform-origin: left top;
    animation-name: CheckMarkAnimation;
    animation-duration: 0.2s;
    animation-delay: 0.0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    position: absolute;
}

/* On mouse-over, add a grey background color */
.checkBoxLabelContainer:hover input ~ .checkmark {
    color: #2196F3;
    border: 1px dotted;
    border-radius: 1px;
}

/* When the checkbox is checked, add a blue background */
.checkBoxLabelContainer input:checked ~ .checkmark {
    animation-name: CheckAnimation;
    animation-duration: 0.4s;
    animation-delay: 0.0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    position: absolute;
}

/* check box animation when checked*/
@keyframes CheckMarkAnimation {

    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 6px;
        height: 0px;
    }


    100% {
        width: 6px;
        height: 12px;
    }
}

/* check box animation when checked, the background color*/

@keyframes CheckAnimation {
    from {
        background-color: var(--secondary-foreground);
    }

    to {
        background-color: #2196F3;
    }
}

/*Custom Check Box*/

.radioLabelContainer {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 6px;
    height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;

}

.radioLabelContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.radioCheckmark {
    position: absolute;
    top: 0px;
    left: 3px;
    height: 20px;
    width: 20px;
    background-color: var(--secondary-foreground);
    color: var(--secondary-foreground);
    color: #9099A0;
    border: 2px solid;
    border-radius: 20px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.radioLabelContainer .radioCheckmark:before {
    content: "";
    position: absolute;
    display: none;
}



/* Create the checkmark/indicator (hidden when not checked) */
.radioLabelContainer .radioCheckmark:after {
    content: "";
    display: none;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    border: #9099A0;
    border-radius: 6px;
    background-color: #9099A0;
    opacity: 0.0;
}

/* Show the checkmark when checked */
.radioLabelContainer input:checked ~ .radioCheckmark:after {
    display: block;
    animation-name: radioCheckMarkAnimation;
    animation-duration: 0.3s;
    animation-delay: 0.0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    /*box-shadow: #9099a0b8 15px 0px 8px 5px;*/
}

.radioLabelContainer input:focus ~ .radioCheckmark {
    animation-name: radioCheckAnimation;
    animation-duration: 0.5s;
    animation-delay: 0.0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


/* On mouse-over, add a grey background color */
.radioLabelContainer:hover input ~ .radioCheckmark {
    animation-name: radioCheckAnimation;
    animation-duration: 0.5s;
    animation-delay: 0.0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}



/* check box animation when checked*/
@keyframes radioCheckMarkAnimation {

    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

/* check box animation when checked, the background color*/

@keyframes radioCheckAnimation {
    from {
        background-color: var(--secondary-foreground);
    }

    to {
        background-color: #353942;
    }
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */


.dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}


.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 0.40s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    top: 33px;
    left:48%;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 0.40s infinite linear alternate;
    animation-delay: .2s;
}


.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotFlashing 0.40s infinite alternate;
    animation-delay: 0.4s;
}

@keyframes dotFlashing {
    0% {
        background-color: #9880ff;
    }

    50%, 100% {
        background-color: rgba(115, 110, 255, 0.30);
    }
}

.stage {
}

/*****************************************************************FIX BY DELTA*/
.modal-content {
    border-radius: 0px;
    border: 0px;
}

.modal-body {
    overflow: auto;
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-height: 78vh;
    z-index: 0;
    padding: 0px 15px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    height: 30px;
    border: 0;
    padding: 0px 15px;
    padding-bottom: 0px;
    z-index: 1;
    position: relative;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding: 8px 15px;
    text-align: right;
    position: relative;
    border-top: 0;
}


.modal-body_tool {
    max-height: calc(78vh - 30px);
}

/**********************=========================================== ANIMATE*/

@keyframes animate1 {

	0% {
		opacity: 1;
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

@keyframes animate2 {

	0% {
		opacity: 1;
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(100%);
	}
}

@keyframes animate3 {

	0% {
		opacity: 1;
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes animate4 {

	0% {
		opacity: 1;
		transform: translateY(100%);
	}

	100% {
		transform: translateY(-100%);
	}
}

/* The animation code */
@keyframes loadLogIn {
	0% {
		opacity: 0.0;
		margin: -150px 0;
	}

	100% {
		opacity: 1.0;
		margin: 0px 0;
	}
}

@keyframes jump {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}

	50% {
		top: 140px;
		height: 140px;
		animation-timing-function: ease-out;
	}

	55% {
		top: 160px;
		height: 120px;
		border-radius: 70px / 60px;
		animation-timing-function: ease-in;
	}

	65% {
		top: 120px;
		height: 140px;
		border-radius: 70px;
		animation-timing-function: ease-out;
	}

	95% {
		top: 0;
		animation-timing-function: ease-in;
	}

	100% {
		top: 0;
		animation-timing-function: ease-in;
	}
}

@keyframes shrink {
	0% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, 0.1);
		box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
		border-radius: 30px / 40px;
		animation-timing-function: ease-in;
	}

	50% {
		bottom: 30px;
		margin-left: -10px;
		width: 20px;
		height: 5px;
		background: rgba(20, 20, 20, 0.3);
		box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.3);
		border-radius: 20px / 20px;
		animation-timing-function: ease-out;
	}

	100% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, 0.1);
		box-shadow: 0px 0 20px 35px rgba(20, 20, 20, 0.1);
		border-radius: 30px / 40px;
		animation-timing-function: ease-in;
	}
}
/*=============================================================================================================*/
.footer {
	display: none !important;
}

a {
	cursor: pointer;
}

ui-grid {
	width: 100% !important;
}

.nav-item {
	flex: 1;
	display: flex;
	flex-wrap: unset;
	flex-direction: row;
	overflow: hidden;
}

.nav-tabs > .nav-item > li > a tab-heading {
	display: flex;
	flex-direction: row;
}

	.nav-tabs > .nav-item > li > a tab-heading span {
		height: 25px;
		word-break: break-all;
	}

.tab-button {
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-left: 1px;
	margin-right: -8px;
	padding: 0px;
	border: 0px;
}

.control-label {
	padding-right: 0;
}

.radio, .checkbox:first-child {
	margin-top: 0;
}

.radio, .checkbox:last-child {
	margin-bottom: 0;
}

/*==============================================================================================================MEDIA*/
.d-flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.form-search {
	padding: 2px;
}

.col-12 {
	width: 100%;
}

.col-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
/*==============================================================================================================MEDIA-ALIGN*/
@media (min-width: 576px) {
	/*.flex-sm-column {
        display: flex;
        flex-direction: column;
    }

    .flex-sm-row {
        display: flex;
        flex-direction: row;
    }*/
}

@media (max-width: 575.98px) {
	.flex-sm-column {
		display: flex;
		flex-direction: column;
	}

	.flex-sm-row {
		display: flex;
		flex-direction: row;
	}

	.pacsQueryRow {
		display: none;
	}

	.login-paper p span {
		display: none;
	}
}

@media (min-width: 768px) {
	.flex-md-column {
		display: flex;
		flex-direction: column;
	}

	.flex-md-row {
		display: flex;
		flex-direction: row;
	}
}

@media (max-width: 767.98px) {
	.modal-content .h-100 {
		height: auto;
	}

	.modal-content .scroll-secondary {
		overflow-y: auto;
	}

	
}

@media (min-width: 992px) {
	.flex-lg-column {
		display: flex;
		flex-direction: column;
	}

	.flex-lg-row {
		display: flex;
		flex-direction: row;
	}
}

@media (min-width: 1200px) {
	.flex-xl-column {
		display: flex;
		flex-direction: column;
	}

	.flex-sm-row {
		display: flex;
		flex-direction: row;
	}
}

@media (max-width: 1199.98px) {
	.flex-row.flex-wrap.form-search_left {
		padding: 2px 8px;
	}

	.form-search .button_time {
		display: none;
	}

	.form-search .pd210 {
		padding: 0;
	}

	.form-search .flex-divider {
		display: none;
	}

	.login-anime .login-anime_box {
		display: none;
	}

}


@media (max-width: 575.98px) {
	.social-icons {
		display: none;
	}

	.header-wrapper {
		display: none;
	}

	.login-paper {
		display: none;
	}

	.login-anime {
		display: none;
	}

	.login-shadow {
		display: none;
	}

	.section-wrapper {
		padding: 0;
	}

	.login-box {
		width: 100%;
	}

	.login-log {
		width: auto;
		padding: 77px 15px 33px;
	}

	.login-log {
		width: 390px;
		padding: 77px 55px 33px;
	}

	.form-login {
		margin-bottom: 37px;
	}

	.login-tit h2 {
		margin-bottom: 20px;
	}

	.login-tit div {
		width: 60px;
		padding-bottom: 37px;
	}

	.text-login {
		height: 45px;
	}
}

@media (max-width: 1366px) {
	.login-anime {
		zoom: 0.65;
	}
}

@media (min-width: 1366.5px) {
	.login-anime {
		zoom: 0.8;
	}

	.login-tit h3 {
		font-size: 30px;
	}

	/*==*/

	.login-log {
		width: 390px;
		padding: 77px 55px 33px;
	}

	.form-login {
		margin-bottom: 37px;
	}

	.login-tit h2 {
		margin-bottom: 20px;
	}

	.login-tit div {
		width: 60px;
		padding-bottom: 37px;
	}

	.text-login {
		height: 45px;
	}

}

@media (max-width:992px) {
	
}

@media (max-height:657px) {
	.login-head {
		display: none;
	}

}

.ag-viewer .toolBarItem {
	width: 30px !important;
	height: 30px !important;
}

.toolbar_group .toolBarItemOption {
	width: 30px !important;
	height: 30px !important;
}

@media (min-width: 1919px) {
	.ag-viewer .toolBarItem {
		width: 38px !important;
		height: 38px !important;
	}

	.toolbar_group .toolBarItemOption {
		width: 38px !important;
		height: 38px !important;
	}
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.k-card {
    width: 285px;
    margin: 5%;
}

.k-card-footer {
    text-align: center;
}

.k-card-action > .k-button {
    width: 100%;
}