.warning-dialog {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: none;
}

    .warning-dialog h2 {
        color: #FF3030;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        text-transform: none;
        position: relative;
        margin: 25px 0;
        padding: 0;
        line-height: 40px;
        display: block;
    }


.warning-text {
    color: #797979;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    float: none;
    margin: 10px;
    padding: 0;
    line-height: normal;
}

.warning-dialog .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

    .warning-dialog .sa-icon.sa-warning {
        border-color: #FF3030;
    }

        .warning-dialog .sa-icon.sa-warning .sa-body {
            position: absolute;
            width: 5px;
            height: 47px;
            left: 50%;
            top: 10px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            margin-left: -2px;
            background-color: #FF3030;
        }

        .warning-dialog .sa-icon.sa-warning .sa-dot {
            position: absolute;
            width: 7px;
            height: 7px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            margin-left: -3px;
            left: 50%;
            bottom: 10px;
            background-color: #FF3030;
        }
