<div class="modal-header">
   <h3 class="modal-title">Add External Application</h3>
</div>
<div class="modal-body container-fluid">
   <div class="heading">
      <h5>Name:</h5>
      <input type="text" class="form-control" ng-model="$parent.name">
   </div>
   <br />
   <div class="heading">
      <h5>Path:</h5>
      <input type="text" class="form-control" ng-model="$parent.path">
   </div>
   <br />
   <div class="heading">
      <h5>Arguments: (use %pathname% for source file name)</h5>
      <input type="text" class="form-control" ng-model="$parent.args">
   </div>   
   <br />

</div>
<div class="modal-footer">
   <button class="btn btn-success" ng-click="add()">Add</button>
   <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>