<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50">{{'LOAD' | translate}}&nbsp;{{'ANNOTATIONS' | translate}}</h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <label for="annotationList" class="control-label">{{'ANNOTATIONS' | translate}}:</label>
        <div id="annotationList" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-auto-resize></div>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-click="delete()" translate="DELETE" ng-disabled="!canDeleteAnnotations()"></a>
        <a class="form-btn" ng-click="ok()" translate="DIALOGS_OK" ng-disabled="selectedAnnotation==null"></a>
        <a class="form-btn" ng-click="cancel()" translate="DIALOGS_CANCEL"></a>
    </div>
</div>
