<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50">{{'DIALOGS_CINE_PLAYER_TITLE' | translate}}</h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="close()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <h5 class="text-uppercase">{{ 'Information' | translate }}</h5>
        <div class="form-horizontal form-rise">
            <div class="form-group control-group">
                <div class="col-md-12">
                    <label class="control-label col-md-4">
                        <input type="checkbox" ng-model="service.loop">Loop
                    </label>
                </div>
            </div>
            <div class="form-group control-group">
                <label class="control-label col-md-4" for="direction">{{'DIRECTION' | translate}}:</label>
                <div class="controls col-md-8">
                    <select id="direction" class="study-dropdown w-dropdown" ng-model="service.direction">
                        <option value="Forward">Forward</option>
                        <option value="Backward">Backward</option>
                        <option value="Shuffle">Shuffle</option>
                        <option value="Sweep">Sweep</option>
                    </select>
                </div>
            </div>
            <div class="form-group control-group">
                <label class="control-label col-md-4" for="fps">{{'FPS' | translate}}:</label>
                <div class="controls col-md-8">
                    <input id="fps" type="number" placeholder="" class="text-field" ng-model="service.fps">
                </div>

            </div>
            <div class="form-group control-group">
                <label class="control-label col-md-4" for="skipFrames">{{'MAX_SKIP_FRAMES' | translate}}:</label>
                <div class="controls col-md-8">
                    <input id="skipFrames" type="number" placeholder="" class="text-field" ng-model="service.maxSkip">
                </div>
            </div>
            <div class="form-group control-group">
                <label class="control-label col-md-4" for="frame">{{'FRAME' | translate}}:</label>
                <div class="controls col-md-8">
                    <input id="frame" type="number" placeholder="" class="text-field" ng-model="player.currentFrame">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex-row box-primary-background bordert-no">
    <div class="flex-row pd3-12 flex-grow flex-center h30">
        <span class="font-weight-bold">Thanh chức năng: &nbsp</span>
        <div class="" role="toolbar">

            <button type="button" class="button-light" ng-disabled="service.isPlaying" ng-click="first()" title="FIRST"><i class="fas fa-step-backward"></i></button>
            <button type="button" class="button-light" ng-disabled="service.isPlaying" ng-click="previous()" title="PREVIOUS"><i class="fas fa-backward"></i></button>
            <button type="button" class="button-light" ng-disabled="!service.isPlaying" ng-click="stop()" title="STOP"><i class="fas fa-stop"></i></button>
            <button type="button" class="button-light" ng-disabled="service.isPlaying" ng-click="play()" title="PLAY"><i class="fas fa-play"></i></button>
            <button type="button" class="button-light" ng-disabled="service.isPlaying" ng-click="next()" title="NEXT"><i class="fas fa-forward"></i></button>
            <button type="button" class="button-light" ng-disabled="service.isPlaying" ng-click="last()" title="LAST"><i class="fas fa-step-forward"></i></button>

        </div>
    </div>
</div>


<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-click="close()" translate="DIALOGS_CLOSE"></a>
    </div>
</div>

