<div class="modal-header">
    <button type="button" class="close" ng-click="no()">&times;</button>
    <h4 class="modal-title">
        <span ng-class="icon"></span> {{ header }}
    </h4>
</div>
<div class="modal-body" ng-bind-html="msg">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="yes()">{{"DIALOGS_YES" | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="no()">{{"DIALOGS_NO" | translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="cancel()">{{"DIALOGS_CANCEL" | translate}}</button>
</div>
