<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50" translate="DIALOGS_CAREPLAN_TITLE"></h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>
<form name="carePlanForm" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4 flex-column h-100 background-secondary">
                <div class="form-column scroll-hidden">
                    <h5 class="text-uppercase">{{'CarePlanInformation' | translate}}</h5>
                    <div class="divider_pri mart-0"></div>

                    <div class="flex-column flex-grow-1 scroll-secondary" style="padding-right: 6px;">
                        <div class="form-group">
                            <label class="" for="patientid">{{'Title' | translate}}:</label>
                            <input type="text" ng-model="carePlan.title" autocomplete="off" class="text-field" required>
                        </div>
                        <div class="form-group">
                            <label class="" for="patientid">{{'Description' | translate}}:</label>
                            <textarea class="text-field" ng-model="carePlan.description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 flex-column h-100 scroll-secondary">
                <div class="mb-2">
                    <!--TABLE 2-->
                    <div class="table_menu flex-column position-relative border-grey mt-2 tag_p" style="background: white; color: black">
                        <!--Hiển thị nút tạo mục nếu mục chưa có danh sách -->
                        <div ng-repeat="activity in carePlan.activity track by $index">
                            <div class="flex-row">
                                <div class="flex-column flex1">
                                    <div class="flex-column flex1 p-2" style="display:block;">
                                        <p>
                                            <label for="size">{{'ProcedureCode'|translate}}</label>
                                            <select class="text-select" ng-model="selectedCodes[$index]" ng-options="i.display for i in procedureCodes.concept track by i.code" force-blur ng-change="codeChanged($index)" required></select>
                                        </p>
                                        <p>
                                            <label for="size">{{'BodyStructure'|translate}}</label>
                                            <select kendo-drop-down-list k-data-text-field="'display'"
                                                     k-on-change="onChangeBodyStructure(kendoEvent)"
                                                    ng-model="activityDefinition.bodySite[0].coding[0].code"
                                                    k-data-value-field="'code'"
                                                    k-data-source="bodyStructureCodeSystemData">
                                            </select>
                                        </p>
                                        <button type="button" ng-click="addGoal(activity,$index)" title="{{'AddGoal'|translate}}" class="btn btn-primary">
                                            <i class="fa fa-plus"></i>&nbsp;{{'AddGoal'|translate}}
                                        </button>

                                        <div class="cards-container">
                                            <div class="k-card" ng-repeat="goal in goals track by $index">
                                                <div class="k-card-header">
                                                    <h5 class="k-card-title">{{$index + 1}}</h5>

                                                </div>
                                                <div class="k-card-body" style="overflow: scroll;height: 270px;">
                                                    <p ng-repeat="target in goal.target track by $index">

                                                        <label for="size">{{'Observation'|translate}}</label>
                                                        <select kendo-drop-down-list k-data-text-field="'display'"
                                                                ng-model="target.measure.coding[0].code"
                                                                k-on-change="onChangeObservation($parent.$index,$index,kendoEvent)"
                                                                k-data-value-field="'code'"
                                                                k-data-source="observationCodeCodeSystemData">
                                                        </select>
                                                        <span ng-if="target.detailString">
                                                            {{target.detailString}}
                                                        </span>
                                                        <span ng-if="target.detailQuantity">
                                                            {{target.detailQuantity.comparator}} {{target.detailQuantity.value}} ~ {{target.detailQuantity.unit}}
                                                        </span>
                                                        <span ng-if="target.detailRange">
                                                            {{target.detailRange.low.value}} ~ {{target.detailRange.high.value}} {{target.detailRange.high.unit}}
                                                        </span>
                                                        <br />
                                                        <a style="text-decoration:underline;color:black" ng-click="detailTarget($parent.$index,$index)">{{'Detail'|translate}}</a>
                                                    </p>
                                                </div>
                                                <div class="k-card-actions k-card-actions-stretched">
                                                    <span class="k-card-action"><span ng-click="addTarget($parent.$index,$index)" style="color: white;border: #3d84c2;background: #3d84c2;" class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md">{{'AddTarget'|translate}}</span></span>
                                                    <span class="k-card-action"><span style="color: white;background: #c82333;border: #c82333;" class="k-button k-button-flat-error k-button-flat k-button-md k-rounded-md" ng-click="removeGoal($parent.$index,$index)">{{'Remove'|translate}}</span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <p>

                                        </p>
                                    </div>
                                </div>
                                <div class="divider_table"></div>

                            </div>
                            <div class="divider_hor_table"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="flex-row marl-auto">
            <button class="form-btn" ng-disabled="carePlanForm.$invalid" ng-click="ok()" translate="DIALOGS_OK"></button>
        </div>
    </div>
</form>