<div class="modal-body">

    <table style="table-layout:fixed; width:100%">
        <tr>
            <td><input type="text" placeholder="E-mail Title" class="email-field" id="title" style="height:auto"></td>
        </tr>
        <tr>
            <td><textarea type="text" placeholder="E-mail Body" class="email-field" id="area"></textarea></td>
        </tr>
    </table>

    <div style="text-align: right;">
        <button type="button" class="cine-controls save-button" id="saveEmailChanges" ng-click="save()" data-toggle="tooltip" title="Save"><i></i></button>
        <button type="button" class="cine-controls delete-button" id="discardEmailChanges" ng-click="cancel()" data-toggle="tooltip" title="Cancel"><i></i></button>
    </div>
</div>
