<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50" translate="DIALOGS_GLOBAL_OPTIONS_TITLE"></h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <h5 class="text-uppercase">{{ "Information" | translate }}</h5>
        <div class="control-group">
            <label class="control-label" for="workstationName">Workstation:</label>
            <div class="controls">
                <input id="workstationName" name="workstationName" type="text" placeholder="" class="form-control" ng-model="info.workstation">
            </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
            <label class="control-label" for="comments">Comments:</label>
            <div class="controls">
                <textarea id="comments" name="comments" class="form-control" ng-model="info.comments"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-click="ok()" translate="DIALOGS_OK" ng-disabled="isWorkstationEmpty()"></a>
        <a class="form-btn" ng-click="cancel()" translate="DIALOGS_CANCEL"></a>
    </div>
</div>
