<div class="modal-body">
    <form class="form-column" novalidate>
        <h5 class="text-left">Hanging Protocol Definitions</h5>
        <div class="">
            <div id="HPProtocolDefinitionSequence" ag-grid="HPPDOptions" class="ag-fresh" style="height:125px"></div>
        </div>
    </form>
</div>

<div class="flex-row box-primary-background bordert-no">
    <div class="flex-row pd3-12 flex-grow flex-center h30">
        <span class="font-weight-bold">Thanh chức năng: &nbsp</span>
        <div class="" role="toolbar">

            <button type="button" class="button-light" ng-click="editHPDefinition()" title="Edit HP Definition" ng-disabled="!isHPDefinitionSelected()"><i class="fas fa-edit"></i></button>
            <button type="button" class="button-light" ng-click="deleteHPDefinition()" title="Delete HP Definition" ng-disabled="!isHPDefinitionSelected()"><i class="fas fa-remove"></i></button>

        </div>
    </div>
</div>