<div class="modal-body">
    <form class="form-column" novalidate>
        <h5 class="text-uppercase">{{ "Information" | translate }}</h5>
        <div class="form-horizontal form-rise">
            <div class="form-group">
                <label class="col-md-2 control-label" for="HPDisplaySets">{{'DISPLAY' | translate}}&nbsp;{{'SETS' | translate}}:</label>
                <div class="col-md-10 flex-row">
                    <select id="HPDisplaySets" class="text-select" ng-model="selectedDisplaySet" ng-options="d.CombinedName for d in hp.DisplaySets | filter:filterByImageSetNumber()" ng-change="selectedDisplaySetChanged(selectedDisplaySet)" force-blur></select>
                    <button class="button-light" ng-click="editDisplaySetLabel()"><i class="far fa-edit"></i></button>

                </div>
            </div>
        </div>
        <div class="divider_secon"></div>
        <div class="form-group">
            <div class="">
                <div id="DSFilterOperations" ag-grid="DSFilterOperationsOptions" class="ag-fresh" style="height:200px"></div>
            </div>
        </div>

    </form>
</div>

<div class="flex-row box-primary-background bordert-no">
    <div class="flex-row pd3-12 flex-grow flex-center h30">
        <span class="font-weight-bold">Thanh chức năng: &nbsp</span>
        <div class="" role="toolbar">

            <button type="button" class="button-light" ng-click="addFilterOperation()" title="Add Filter Operation"><i class="far fa-plus"></i></button>
            <button type="button" class="button-light" ng-click="addMultipleTags()" title="Add Multiple Selector Tags"><i class="far fa-tags"></i></button>
            <button type="button" class="button-light" ng-click="editFilterOperation()" title="Edit Filter Operation" ng-disabled="!isFilterOperationSelected()"><i class="far fa-edit"></i></button>
            <button type="button" class="button-light" ng-click="deleteFilterOperation()" title="Delete Filter Operation" ng-disabled="!isFilterOperationSelected()"><i class="far fa-remove"></i></button>
            <button type="button" class="button-light position-relative" ng-click="deleteSimilarFilterOperations()" title="Delete Similar Filter Operations" ng-disabled="!isFilterOperationSelected()">
                <i class="far fa-remove"></i><i class="position-absolute fal fa-bars" style="font-size: 0.7em;top:2px;right: 2px;"></i>
            </button>
            <button type="button" class="button-light" ng-click="mergeFilterOperation()" title="Merge Filter Operation" ng-style="getButtonStyle()" ng-disabled="!isFilterOperationSelected() || !canMergeFilterOperation()"><i class="far fa-code-merge"></i></button>
            <button type="button" class="button-light" ng-click="cloneFilterOperation()" title="Clone Filter Operation" ng-disabled="!isFilterOperationSelected()"><i class="far fa-copy"></i></button>

        </div>
    </div>
</div>