<multi-step-container steps="steps" on-cancel="$dismiss()" on-finish="$close()" on-step-change="onStepChange()">
    <div class="modal-header">
        <div class="delta-logo">
            <img src="./images/viewer/deltapacs.png" />
        </div>
        <div class="flex-rgh flex-center">
            <div class="scroll-hidden">
                <h4 class="text-ellipsis p50">Hanging Protocol Settings</h4>
            </div>
        </div>
        <div class="modal-toolbar">
            <span title="{{'Close' | translate}}" ng-click="$cancel()">
                <i class="fa fa-close"></i>
            </span>
        </div>
    </div>

    <main step-container></main>

    <div class="modal-footer">
        <div class="flex-row flex-grow">
            <a class="form-btn" ng-click="$previousStep()" ng-disabled="$isFirst() || !isFormValid()">Previous</a>
            <a class="form-btn marr-auto" ng-click="$nextStep()" ng-disabled="$isLast() || !isFormValid()">Next</a>
            <a class="form-btn" ng-click="saveHangingProtocol()" ng-disabled="!isFormValid()">Save</a>
            <a class="form-btn" ng-click="$cancel()" translate="DIALOGS_CLOSE"></a>
        </div>
    </div>

</multi-step-container>
