<div class="modal-content" modal-show modal-visible="showDialog">

    <div class="modal-header">
        <div class="delta-logo">
            <img src="./images/viewer/deltapacs.png" />
        </div>
        <div class="flex-rgh flex-center">
            <div class="scroll-hidden">
                <h4 class="text-ellipsis p50" translate="DIALOGS_MONITOR_CALIBRATION_TITLE"></h4>
            </div>
        </div>
        <div class="modal-toolbar">
            <span title="{{'Close' | translate}}" ng-click="close()">
                <i class="fa fa-close"></i>
            </span>
        </div>
    </div>

    <div class="modal-body">
        <div class="form-column">
            <h5 class="text-uppercase">{{ "Information" | translate }}</h5>
            <div class="form-rise">
                <label for="calibrationHistory" class="control-label" translate="HISTORY_LABEL"></label>
                <div id="calibrationHistory" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-auto-resize></div>
                <label for="calibrationComments" class="control-label" translate="COMMENTS_LABEL"></label>
                <textarea id="calibrationComments" rows="5" style="width:100%" ng-model="selectedCalibration.Comments" ng-disabled="true"></textarea>
                <div class="btn-toolbar" role="toolbar" style="margin-top: 5px !important">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="calibrate()" data-toggle="tooltip" title="Calibrate monitor" ng-disabled="!canCalibrate"><i class="fa fa-desktop"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="flex-row marl-auto">
            <a class="form-btn" ng-click="close()" translate="DIALOGS_CLOSE"></a>
        </div>
    </div>

</div>