<div class="modal-content" ng-controller="Controllers.UpdatePasswordController">

    <div class="modal-header">
        <div class="delta-logo">
            <img src="./images/viewer/deltapacs.png" />
        </div>
        <div class="flex-rgh flex-center">
            <div class="scroll-hidden">
                <h4 class="text-ellipsis p50">{{'PASSWORD' | translate}}</h4>
            </div>
        </div>
        <div class="modal-toolbar">
            <span title="{{'Close' | translate}}" ng-click="cancel()">
                <i class="fa fa-close"></i>
            </span>
        </div>
    </div>

    <div class="modal-body">

        <div class="form-column">
            <h5 class="text-uppercase">{{'CHANGEPASSWORD'|translate}}</h5>
            <form class="form-horizontal form-rise" name="updateUserForm" novalidate>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="curUserPassword">Current Password:</label>
                    <div class="col-md-9">
                        <input type="password" class="text-field" id="curUserPassword" placeholder="" ng-model="curPassword" ng-disabled="usersInfo[user].UserType==='activedirectory'">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="newUserPassword">Password:</label>
                    <div class="col-md-9">
                        <input type="password" class="text-field" id="newUserPassword" placeholder="" ng-model="password" ng-disabled="usersInfo[user].UserType==='activedirectory'">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="confirmPassword">Confirm Password:</label>
                    <div class="col-md-9">
                        <input type="password" class="text-field" id="confirmPassword" ng-model="confirmPassword" placeholder="" pwd-confirm="newUserPassword" ng-disabled="usersInfo[user].UserType==='activedirectory'">
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="modal-footer">
        <div class="flex-row marl-auto">
            <a class="form-btn pull-left" value="Reset" ng-disabled="updateUserForm.$invalid || password.length==0 || usersInfo[user].UserType==='activedirectory'" ng-click="resetPassword(curPassword,password)"><i style="font-style: normal;">{{ "CHANGE_PASSWORD" | translate}}</i></a>
            <a class="form-btn" ng-click="ok()">{{ "DIALOGS_CLOSE" | translate}}</a>
        </div>
    </div>

</div>

