<div class="modal-content" ng-controller="Controllers.UpdatePasswordController" >
   <div class="modal-header">
      <h3 class="modal-title">{{'PASSWORD' | translate}}</h3>
   </div>
   <div class="divider"></div>
   <div class="modal-body">
      <div class="row no-margin">
         <div class="col-xs-8">
            <form name="updateUserForm" novalidate >
               <div class="form-group">
                  <label for="curUserPassword">Current Password:</label>
                  <input type="password" class="text-field" id="curUserPassword" placeholder="" ng-model="curPassword" ng-disabled="usersInfo[user].UserType==='activedirectory'">
               </div>
               <div class="form-group">
                  <label for="newUserPassword">Password:</label>
                  <input type="password" class="text-field" id="newUserPassword" placeholder="" ng-model="password" ng-disabled="usersInfo[user].UserType==='activedirectory'">
               </div>
               <div class="form-group">
                  <label for="confirmPassword">Confirm Password:</label>
                  <input type="password" class="text-field" id="confirmPassword" ng-model="confirmPassword" placeholder="" pwd-confirm="newUserPassword" ng-disabled="usersInfo[user].UserType==='activedirectory'">
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="divider"></div>
   <div class="modal-footer">
      <button class="form-btn pull-left" value="Reset" ng-disabled="updateUserForm.$invalid || password.length==0 || usersInfo[user].UserType==='activedirectory'" ng-click="resetPassword(curPassword,password)"><i style="font-style: normal;">{{ "CHANGE_PASSWORD" | translate}}</i></button>
      <a class="form-btn" ng-click="ok()">{{ "DIALOGS_CLOSE" | translate}}</a>
   </div>
</div>
