<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50" translate="DIALOGS_PROMPT_TITLE"></h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="close()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <h5 class="text-uppercase">{{ "Information" | translate }}</h5>
        <div class="form-horizontal form-rise">
            <div class="form-group">
                <label class="col-md-3 control-label" for="comments">{{label}}:</label>
                <div class="col-md-9">
                    <textarea rows="5" id="comments" name="comments" class="text-field" ng-model="data.text" autofocus></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-click="ok()" translate="DIALOGS_OK"></a>
        <a class="form-btn" ng-click="cancel()" translate="DIALOGS_CANCEL"></a>
    </div>
</div>
