<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50" translate="DIALOGS_REMOTE_PACS_TITLE"></h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="close()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <h5 class="text-uppercase">{{ "Information" | translate }}</h5>
        <div class="form-horizontal form-rise">
            <div class="form-group">
                <label class="col-md-3 control-label" for="aeTitle">{{'CLIENT' | translate}}&nbsp;{{'AETITLE' | translate}}:</label>
                <div class="col-md-9">
                    <div class="flex-row">
                        <input id="aeTitle" type="text" placeholder="" class="text-field" style="width: auto" ng-model="pacsConfig.client" required />
                        <label style="margin-left: 5px" for="pacsServers">{{ 'REMOTE' | translate}}&nbsp;{{'SERVERS'|translate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider_secon"></div>
        <!--<lt-grid api="gridapi" vapi="virtualgridapi" grid-id="pacsServers" config="config" data="pacsConfig.remotePacs" on-select-row="onSelectRow(rowid, data)"></lt-grid>-->
        <div id="pacsServers" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-auto-resize></div>
    </div>
</div>

<div class="flex-row box-primary-background bordert-no">
    <div class="flex-row pd3-12 flex-grow flex-center h30">
        <span class="font-weight-bold">Thanh chức năng: &nbsp</span>
        <div class="" role="toolbar">

            <button type="button" class="button-light" ng-click="save()" data-toggle="tooltip" title="Save PACS configuration"><i class="fa fa-save"></i></button>
            <button type="button" class="button-light" ng-click="addPacsServer()" data-toggle="tooltip" title="Add PACS server"><i class="fa fa-plus"></i></button>
            <button type="button" class="button-light" ng-click="editPacsServer()" data-toggle="tooltip" title="Edit PACS server" ng-disabled="selectedServer==null"><i class="fa fa-edit"></i></button>
            <button type="button" class="button-light" ng-click="deletePacsServer()" data-toggle="tooltip" title="Delete PACS server" ng-disabled="selectedServer==null"><i class="fa fa-minus"></i></button>

        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-click="close()" translate="DIALOGS_CLOSE"></a>
    </div>
</div>