<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50" translate="DIALOGS_REMOTE_WADO_TITLE"></h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="close()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <h5 for="wadoServers">{{ 'REMOTE' | translate}}&nbsp;{{'SERVERS'|translate}}</h5>
        <div id="wadoServers" ui-grid="gridOptions" class="grid" ui-grid-selection ui-grid-auto-resize></div>
    </div>
</div>

<div class="flex-row box-primary-background bordert-no">
    <div class="flex-row pd3-12 flex-grow flex-center h30">
        <span class="font-weight-bold">Thanh chức năng: &nbsp</span>
        <div class="" role="toolbar">

            <button type="button" class="button-light" ng-click="save()" data-toggle="tooltip" title="Save WADO configuration"><i class="fa fa-save"></i></button>
            <button type="button" class="button-light" ng-click="addWadoServer()" data-toggle="tooltip" title="Add WADO server"><i class="fa fa-plus"></i></button>
            <button type="button" class="button-light" ng-click="editWadoServer()" data-toggle="tooltip" title="Edit WADO server" ng-disabled="selectedServer==null"><i class="fa fa-edit"></i></button>
            <button type="button" class="button-light" ng-click="deleteWadoServer()" data-toggle="tooltip" title="Delete WADO server" ng-disabled="selectedServer==null"><i class="fa fa-ban"></i></button>

        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-click="close()" translate="DIALOGS_CLOSE"></a>
    </div>
</div>