<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50">Run External Application</h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <h5 class="text-uppercase">Select application to run</h5>
        <select class="form-control input-lg" ng-model="$parent.selectedApp" ng-options="option for option in externalApplications"></select>
        <br />
        <button ng-show="selectedApp !== ''" class="btn btn-delete" ng-click="deleteapp()">Delete</button>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-show="selectedApp !== ''" ng-click="run()">Run</a>
        <a class="form-btn" ng-click="cancel()">Cancel</a>
    </div>
</div>
