<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50" translate="DIALOGS_SCRIPT_EDIT_TITLE"></h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <h5 class="text-uppercase">{{ "Information" | translate }}</h5>
        <div class="control-group" style="height:50% !important">
            <label class="control-label" for="comments">{{label}}:</label>
            <span class="fa-stack fa-lg" ng-show="readOnly" tooltip="Read Only">
                <i class="fa-pencil fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x text-danger"></i>
            </span>
            <div class="controls">
                <ui-codemirror ui-codemirror="{onLoad: codemirrorLoaded }" ui-codemirror-opts="editorOptions" ng-model="data.text"></ui-codemirror>
            </div>
        </div>
        <div id="errors" ag-grid="gridOptions" class="ag-fresh" style="height:120px; margin-top:5px"></div>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-click="ok()" translate="DIALOGS_OK" ng-disabled="hasErrors()"></a>
        <a class="form-btn" ng-click="cancel()" translate="DIALOGS_CANCEL"></a>
    </div>
</div>
