<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50" translate="DIALOGS_TARGETDETAIL_TITLE"></h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<form name="targetDetailForm" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h4 style="color:#fff">{{'SelectDetailType' | translate}}</h4>

                <label>
                    <input type="radio" ng-model="detailType.name" ng-change="onChangedDetailType()" value="Quantity">
                    {{'Quantity'|translate}}
                </label>
                <label>
                    <input type="radio" ng-model="detailType.name" ng-change="onChangedDetailType()" value="Range">
                    {{'Range'|translate}}
                </label>
                <!--<label>
                    <input type="radio" ng-model="detailType.name" ng-change="onChangedDetailType()" value="CodeableConcept">
                    {{'CodeableConcept'|translate}}
                </label>-->
                <label>
                    <input type="radio" ng-model="detailType.name" ng-change="onChangedDetailType()" value="string">
                    {{'string'|translate}}
                </label>
                <!--<label>
                    <input type="radio" ng-model="detailType.name" ng-change="onChangedDetailType()" value="boolean">
                    {{'boolean'|translate}}
                </label>
                <label>
                    <input type="radio" ng-model="detailType.name" ng-change="onChangedDetailType()" value="integer">
                    {{'integer'|translate}}
                </label>
                <label>
                    <input type="radio" ng-model="detailType.name" ng-change="onChangedDetailType()" value="Ratio">
                    {{'Ratio'|translate}}
                </label>-->
            </div>
            <div class="col-12" ng-if="detailType.name=='Quantity'">
                <div class="form-group">
                    <label>{{'Comparator' | translate}}:</label>
                    <select ng-model="detailQuantity.comparator" class="text-field">
                        <option value="<"><</option>
                        <option value="<="><=</option>
                        <option value=">=">>=</option>
                        <option value=">-">>-</option>
                    </select>
                    <!--<input type="text" ng-model="detailQuantity.comparator" class="text-field" autocomplete="off">-->
                </div>
                <div class="form-group">
                    <label>{{'Value' | translate}}:</label>
                    <input type="number" ng-model="detailQuantity.value" class="text-field" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>{{'Unit' | translate}}:</label>
                    <input type="number" ng-model="detailQuantity.unit" class="text-field" autocomplete="off">
                </div>
            </div>
            <div class="col-12" ng-if="detailType.name=='Range'">
                <div class="form-group">
                    <label>{{'Low' | translate}}:</label>
                    <input type="number" ng-model="detailRange.low.value" class="text-field" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>{{'Unit' | translate}}:</label>
                    <input type="text" ng-model="detailRange.low.unit" class="text-field" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>{{'High' | translate}}:</label>
                    <input type="number" ng-model="detailRange.high.value" class="text-field" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>{{'Unit' | translate}}:</label>
                    <input type="text" ng-model="detailRange.high.unit" class="text-field" autocomplete="off">
                </div>
            </div>
            <div class="col-12" ng-if="detailType.name=='string'">
                <div class="form-group">
                    <label>{{'Value' | translate}}:</label>
                    <textarea type="text" ng-model="detailString.value" class="text-field" autocomplete="off"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="flex-row marl-auto">
            <a class="form-btn" ng-disabled="targetDetailForm.$invalid" ng-click="ok()" translate="DIALOGS_OK"></a>
        </div>
    </div>
</form>