<div class="modal-body">

    <table style="table-layout:fixed; width:100% ; overflow:hidden">
        <tr>
            <td><input type="text" class="email-field" autocomplete="off" id="title" style="height:auto"></td>
        </tr>
        <tr>
            <td><select type="text" class="selection-list" id="selection" size="7"></select></td>
        </tr>
    </table>

    <div style="text-align: right;">
        <button type="button" class="cine-controls save-button" id="saveEmailChanges" ng-click="save()" data-toggle="tooltip" title="Save"><i></i></button>
        <button type="button" class="cine-controls delete-button" id="discardEmailChanges" ng-click="cancel()" data-toggle="tooltip" title="Cancel"><i></i></button>
    </div>
</div>
 