<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" translate="DIALOGS_ADMIN_TOOLBAR_TITLE"></h3>
    </div>
    <div class="divider"></div>
    <div class="modal-body">


        <div class="form-group" collapse="false">
            <label for="role">{{ 'ROLE' | translate }}:</label>
            <select id="role" class="form-control form-control-lg" ng-model="role.name" ng-options="p as p for p in roles" ng-change="roleChanged()"></select>
        </div>

        <div style=" width: 100%; overflow-x: hidden !important; border-bottom:1px solid #8C95A4;">
            <table lt-fancy-tree config="config" id="toolbarTree" class="table" data="buttons" deactivate="itemDeactivated(event,data)" activate="itemActivated(event,data)" api="treeApi" disabled-items="disabledItems">
                <colgroup>
                    <col width="30px"></col>
                    <col width="*"></col>
                    <col width="100px"></col>
                </colgroup>
                <thead>
                    <tr>
                        <th style="border-left:none !important"></th>
                        <th>Name</th>
                        <th>Icon</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cine-buttons" role="toolbar">
            <div>
                <button type="button" class="cine-controls save-button" ng-click="save()" data-toggle="tooltip" title="Save toolbar settings"><i></i></button>
            </div>
            <div>
                <button type="button" class="cine-controls plus-button" ng-click="addRootToolbarItem()" data-toggle="tooltip" title="Add root toolbar item"><i></i></button>
                <button type="button" class="cine-controls plus-button" ng-click="addToolbarItem()" data-toggle="tooltip" title="Add toolbar item"><i></i></button>
                <button type="button" class="cine-controls pen-button" ng-click="editToolbarItem()" data-toggle="tooltip" title="Edit toolbar item" ng-disabled="activeNode==null"><i></i></button>
            </div>
            <div>
                <button type="button" class="cine-controls minus-button" ng-click="deleteToolbarItem()" data-toggle="tooltip" title="Delete toolbar item" ng-disabled="activeNode==null"><i></i></button>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="form-btn" ng-click="close()" translate="DIALOGS_CLOSE"></a>
    </div>
</div>
