<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50">{{ "UI Settings" | translate}}</h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <div class="form-group">
            <ul class="nav nav-pills nav-stacked">
                <li><strong class="sidebar-item">Theme Settings</strong></li>
                <!--<li><a class="menuOptions" name="Update User" href="javascript:void(0)" ng-click="isEnabled()" ng-init="edit.view = 'UpdateTheme'"><strong class="sidebar-item" ng-class="{'text-danger': edit.view == 'UpdateTheme'}">Enable Dark Theme</strong></a></li>-->
            </ul>
        </div>
        <div class="form-group">
            <label style="margin: 0px; margin-right: 10px;">Enable Dark Theme</label>
            <input style="margin: 0px; align-content: center; vertical-align: middle" type="checkbox" id="darkThemeCheckBox" ng-init="isEnabled()" />
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-click="ok()" translate="DIALOGS_OK"></a>
        <a class="form-btn" ng-click="cancel()" translate="DIALOGS_CLOSE"></a>
    </div>
</div>
