<div class="modal-header">
    <h3 class="modal-title">{{'DIALOGS_UPLOAD_FILE_TITLE' | translate}}</h3>
</div>
<div class="divider"></div>
<div class="modal-body">
    <span class="file-input btn btn-block btn-primary btn-file">
        Browse&hellip; <input id="inputFile" type="file" multiple ng-disabled="browseDisabled" onchange="angular.element(this).scope().previous(this.files)">
    </span>
    <div id="progressControls" ng-show="progressBarVisiblity">
        <div>
            <div class="page-header">
                <big ng-model="text">{{text.current}}</big>
            </div>

            <progressbar class="progress-striped active" ng-model="progress" animate="false" max="100" value="progresscurrent" type="success"><i>{{countTo}} / 100</i></progressbar>
        </div>
        <div>
            <div class="page-header">
                <big ng-model="text">{{text.total}}</big>
            </div>
            <progressbar class="progress-striped active" animate="false" max="100" value="totalProgressValue" type="success"><i>{{totalCountTo}} / 100</i></progressbar>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="modal-footer">
    <a class="form-btn" ng-click="close()" translate="DIALOGS_CLOSE" />
    <div style='float: right' ng-show="cancelVisiblity">
        <a class="form-btn" ng-click="cancel()"    style='margin-right: 0px;' translate="DIALOGS_CANCEL" />
    </div>
</div>
