<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50">{{'DIALOGS_UPLOAD_FILE_TITLE' | translate}}</h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="close()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <span class="file-input btn btn-block btn-primary btn-file">
            Browse&hellip; <input id="inputFile" type="file" multiple ng-disabled="browseDisabled" onchange="angular.element(this).scope().previous(this.files)">
        </span>
        <div id="progressControls" ng-show="progressBarVisiblity">
            <div>
                <div class="page-header">
                    <big ng-model="text">{{text.current}}</big>
                </div>

                <progressbar class="progress-striped active" ng-model="progress" animate="false" max="100" value="progresscurrent" type="success"><i>{{countTo}} / 100</i></progressbar>
            </div>
            <div>
                <div class="page-header">
                    <big ng-model="text">{{text.total}}</big>
                </div>
                <progressbar class="progress-striped active" animate="false" max="100" value="totalProgressValue" type="success"><i>{{totalCountTo}} / 100</i></progressbar>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <div ng-show="cancelVisiblity">
            <a class="form-btn" ng-click="cancel()" style='margin-right: 0px;' translate="DIALOGS_CANCEL" />
        </div>
        <a class="form-btn" ng-click="close()" translate="DIALOGS_CLOSE" />
    </div>
</div>
