<style>
    .em {
        font-style: italic;
    }
</style>
<div class="modal-content">
   <div class="modal-header">
      <h3 class="modal-title">{{ "USER" | translate}}&nbsp;{{ "PATIENT" | translate}}&nbsp;{{ "RIGHTS" | translate}}</h3>
   </div>
   <div class="divider"></div>
   <div class="modal-body">
      <form class="form-inline" style="margin-bottom:5px">
         <label for="user" class="control-label">{{ "USER" | translate}}:</label>
         <div class="form-group">
            <div>
               <div class="input-group">
                  <select id="user" class="study-dropdown w-dropdown" ng-model="user.name" ng-options="u for u in users" ng-change="userChanged(user.name)" force-blur>
                     <option value=''>{{ "SELECT" | translate}}&nbsp;{{ "USER" | translate}}</option>
                  </select>
               </div>
            </div>
         </div>
      </form>
      <div id="patients" ui-grid="gridOptions" class="grid disabled" ui-grid-pagination ui-grid-selection ui-grid-auto-resize></div>
      <div class="alert alert-warning" role="alert" style="margin-top: 5px; margin-bottom: 0px">{{"USER_PATIENT_RIGHTS_NOTE" | translate}}</div>
   </div>
   <div class="divider"></div>
   <div class="modal-footer">
      <button class="form-btn" ng-click="applyPermissions()"><i style="font-style: normal;">{{ "APPLY_PERMISSIONS" | translate}}</i></button>
      <a class="form-btn" ng-click="close()">{{ "DIALOGS_CLOSE" | translate}}</a>
   </div>
</div>
