<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title" translate="DIALOGS_TAG_VIEW_TITLE"></h3>
    </div>
    <div class="modal-body">
        <div id="tagGrid" api="ipApi" ng-model="mymodel" style="height: 200px; overflow: auto; font-size: 14px">
            <div id="dicomTags" ag-grid="gridOptions" class="ag-fresh" style="height: 100%"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="ok()" translate="DIALOGS_OK"></a>
    </div>
</div>
 