<div class="modal-header">
    <div class="delta-logo">
        <img src="./images/viewer/deltapacs.png" />
    </div>
    <div class="flex-rgh flex-center">
        <div class="scroll-hidden">
            <h4 class="text-ellipsis p50" translate="DIALOGS_TAG_VIEW_TITLE"></h4>
        </div>
    </div>
    <div class="modal-toolbar">
        <span title="{{'Close' | translate}}" ng-click="ok()">
            <i class="fa fa-close"></i>
        </span>
    </div>
</div>

<div class="modal-body">
    <div class="form-column">
        <h5 class="text-uppercase">{{ "Information" | translate }}</h5>
        <div style="height: 500px; overflow: auto; font-size: 14px">
            <div id="dicomTags" ag-grid="gridOptions" class="ag-fresh" style="height: 100%"></div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="flex-row marl-auto">
        <a class="form-btn" ng-click="ok()" translate="DIALOGS_OK"></a>
    </div>
</div>
