<div id='WaveformBasicAudioDiv' style="display: none; -ms-touch-action: none; background-color: #000000; font-family: Arial,sans-serif; font-size: 9pt;">
    <audio controls id="WaveformBasicAudioPlayer" style="margin: 20px;">
    </audio>
    <div style="display: none;" id="WaveformBasicAudioPlayerDownloadLinkTable">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr style="text-align: center">{{'NO_AUDIO_PLAYBACK_SUPPORT' | translate}}</tr>
            <tr>
                <br />
            </tr>
            <tr style="text-align: center"><a style="color: #003366; text-decoration: underline;" id="WaveformBasicAudioPlayerDownloadLink" href="#" rel="nofollow">Download the audio clip</a></tr>
        </table>
    </div>
    <div style="display: none;" id="WaveformBasicAudioPlayerNoAudio">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <br />
            </tr>
            <tr style="text-align: center">{{'NO_AUDIO_AVAILABLE' | translate}}</tr>
        </table>
    </div>
    <div style="display: none;" id="WaveformBasicAudioPlayerWait">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <br />
            </tr>
            <tr style="text-align: center">{{'PLEASE_WAIT' | translate}}...</tr>
        </table>
    </div>
</div>
