<form name="newRoleForm" ng-controller="Controllers.NewRoleController" class="flex-column scroll-auto" novalidate>
    <div class="form-horizontal form-rise">
        <div class="form-group">
            <label class="col-md-3 control-label" for="newRoleName">Name:</label>
            <div class="col-md-9">
                <input type="text" class="text-field" id="newRoleName" placeholder="" ng-model="role" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="newRoleDescription">Description:</label>
            <div class="col-md-9">
                <input type="text" class="text-field" id="newRoleDescription" placeholder="" ng-model="description">
            </div>
        </div>
    </div>

    <div class="form-group"></div>

    <div class="form-group">
        <div class="flex-row">
            <div class="flex-horizontal"></div>
            <a class="form-btn" ng-disabled="newRoleForm.$invalid" ng-click="createRole(role,description)">Create</a>
        </div>
    </div>
</form>
