<form name="updateRoleForm" ng-controller="Controllers.UpdateRoleController" class="flex-column scroll-auto" novalidate>
    <div class="form-horizontal form-rise">
        <div class="form-group">
            <label class="col-md-3 control-label" for="username">{{'ROLE' | translate}}:</label>
            <div class="col-md-9">
                <div class="flex-row">
                    <div class="w-100" style="position:relative">
                        <input class="text-field" ng-keydown="keyPressed($event)" ng-change="textChanged($event)" ng-click="textChanged($event)" ng-model="roleName">
                        <div id="userNameList" class="updateUserForm-select" style="max-height: 230px; overflow: auto; visibility: hidden; position: absolute; width: 100%; z-index: 999; box-shadow: black 5px 3px 9px 0px; background: #4d4d4d; z-index: 999; padding: 5px">
                        </div>
                    </div>
                    <span class="">
                        <button class="button-light" ng-disabled="isCurrentUserSelected(user)" ng-click="deleteUser(role)" ng-disabled="role==null || role.Name=='Administrators'">
                            <i class="fa fa-minus"></i>
                        </button>
                    </span>
                </div>

            </div>
        </div>
    </div>

    <div class="divider_secon"></div>

    <h5 for="availablePermissions">{{'PERMISSIONS' | translate}}:</h5>

    <div class="form-group flex-column scroll-secondary">
        <div class="checkbox" id="availablePermissions" ng-repeat="permission in permissions" ng-show="!disableFeaturesForFDA(permission.Name)">
            <label ng-show="!disableFeaturesForFDA(permission.Name)">
                <input type='checkbox' value="{{permission.Name}}" check-list='selectedPermissions' ng-disabled="role==null || role.Name=='Administrators' || disableFeaturesForFDA(permission.Name)">
                {{permission.FriendlyName}}
            </label>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-horizontal"></div>
        <a class="form-btn" ng-disabled="role==null || role.Name=='Administrators'" ng-click="updateRole(role, selectedPermissions)">Update</a>
    </div>
</form>






<!--<form name="updateRoleForm" ng-controller="Controllers.UpdateRoleController" novalidate>
    <div class="form-group">
        <label for="username">{{'ROLE' | translate}}:</label>
        <div class="input-group">
          
            <div style="position:relative">
                <input class="text-field" ng-keydown="keyPressed($event)" ng-change="textChanged($event)" ng-click="textChanged($event)" ng-model="roleName">
                <div style="max-height:230px; overflow:auto; visibility:hidden; position:absolute; width:100%; z-index:99; box-shadow: black 5px 3px 9px 0px;" id="userNameList">
                </div>
            </div>

            <span class="input-group-btn">
                <button style="margin-left:20px;" class="cine-controls minus-button" ng-click="deleteRole(role)" ng-disabled="role==null || role.Name=='Administrators'"></button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="availablePermissions">{{'PERMISSIONS' | translate}}:</label>
        <div style="height:150px; overflow:auto">
            <div class="checkbox" id="availablePermissions" ng-repeat="permission in permissions" ng-show="!disableFeaturesForFDA(permission.Name)">
                <label ng-show="!disableFeaturesForFDA(permission.Name)">
                    <input type='checkbox' value="{{permission.Name}}" check-list='selectedPermissions' ng-disabled="role==null || role.Name=='Administrators' || disableFeaturesForFDA(permission.Name)">
                    {{permission.FriendlyName}}
                </label>
            </div>
        </div>
    </div>
    <a class="form-btn" ng-disabled="role==null || role.Name=='Administrators'" ng-click="updateRole(role, selectedPermissions)">Update</a>-->
</form>
